In [1]:
import pandas as pd
import numpy as np
from torch.utils.data import TensorDataset, DataLoader
from torch import Tensor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
concate_df1 = []
concate_df2 = []
concate_df3 = []
#concate_df4 = []

for i in range(1,61):
    filename1 = '../data/csv_file/class1_run'+str(i)+'.csv'
    filename2 = '../data/csv_file/class2_run'+str(i)+'.csv'
    filename3 = '../data/csv_file/class3_run'+str(i)+'.csv'
    #filename4 = '../data/csv_file/class4_run'+str(i)+'.csv'
    
    df1 = pd.read_csv(filename1,header=None)
    df2 = pd.read_csv(filename2,header=None)
    df3 = pd.read_csv(filename3,header=None)
    #df4 = pd.read_csv(filename4,header=None)
    
    concate_df1.append(df1)
    concate_df2.append(df2)
    concate_df3.append(df3)
    #concate_df4.append(df4)
    
sum_df1 = pd.concat(concate_df1, axis=1)
sum_df2 = pd.concat(concate_df2, axis=1)
sum_df3 = pd.concat(concate_df3, axis=1)
#sum_df4 = pd.concat(concate_df4, axis=1)
#print(sum_df1.shape,sum_df2.shape,sum_df3.shape,sum_df4.shape) 
#X = pd.concat([sum_df1,sum_df2,sum_df3,sum_df4],axis=1)
X = pd.concat([sum_df1,sum_df2,sum_df3],axis=1)

print(X.shape,sum_df1.shape, sum_df2.shape, sum_df3.shape)

(64, 863360) (64, 291200) (64, 284800) (64, 287360)

In [4]:
print(X.shape[1]/640,sum_df1.shape[1]/640, sum_df2.shape[1]/640, sum_df3.shape[1]/640)

1349.0 455.0 445.0 449.0

In [14]:
#extract the class 4 data
concate_df4 = []

for i in range(1,21):
    filename4 = '../data/csv_file/class4_run'+str(i)+'.csv'
    df4 = pd.read_csv(filename4,header=None)
    concate_df4.append(df4)
    
sum_df4 = pd.concat(concate_df4, axis=1)    
print(sum_df4.shape)

output = []


for i in range(450):
    offset = np.random.randint(0,sum_df4.shape[1]-640)
    output.append(sum_df4.to_numpy()[:,offset:offset+640]) 

output_df4 = np.hstack(output)
print(output_df4.shape)

X = pd.concat([X,output_df4],axis=1)

print(X.shape)

(64, 192000)
(64, 288000)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [13]:
sum_df4.to_numpy()[:,50:100]

array([[  0,  10,  34, ...,  42,  27,  33],
       [ 13,  23,  39, ...,  35,  31,  46],
       [ 30,  41,  52, ...,  31,  37,  49],
       ...,
       [-51, -51, -25, ...,  -5, -13,  -1],
       [-60, -60, -42, ...,  -3, -11,  -1],
       [ -5, -10,  16, ..., -37, -49, -27]], dtype=int64)

In [6]:
print(sum_df4)

    0     1     2     3     4     5     6     7     8     9     ...  9750  \
0    -16   -56   -55   -50   -36   -45   -27    -4   -38   -21  ...     0
1    -29   -54   -55   -44   -28   -29   -11    -4   -20    -8  ...     0
2      2   -27   -29   -13    13    12    25    22    16    39  ...     0
3     22    -4    -5    13    42    50    54    46    52    81  ...     0
4    -12   -31   -29   -16     9    13    17    18    28    52  ...     0
..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...
59   -33    -9    -7     7     6    -4    29    31     5    -4  ...     0
60   -53   -53   -45   -29   -13    -3    10    21    22    25  ...     0
61   -21   -12     2    16    29    30    39    48    44    42  ...     0
62   -11     1    18    35    40    29    33    45    44    40  ...     0
63    15    21    35    47    50    39    46    59    60    64  ...     0

    9751  9752  9753  9754  9755  9756  9757  9758  9759
0      0     0     0     0     0     0     0     0     0
1      0     0     0     0     0     0     0     0     0
2      0     0     0     0     0     0     0     0     0
3      0     0     0     0     0     0     0     0     0
4      0     0     0     0     0     0     0     0     0
..   ...   ...   ...   ...   ...   ...   ...   ...   ...
59     0     0     0     0     0     0     0     0     0
60     0     0     0     0     0     0     0     0     0
61     0     0     0     0     0     0     0     0     0
62     0     0     0     0     0     0     0     0     0
63     0     0     0     0     0     0     0     0     0

[64 rows x 195040 columns]

In [3]:
#print(X[0].to_numpy().reshape(90,640))
print(X.head(5))

   0     1     2     3     4     5     6     7     8     9     ...  5110  \
0   -18    -6     1   -16     3    -6     4    -6     4    13  ...    38
1    25    20    17     2    15    11    29    27    32    39  ...    59
2    43    44    31    11    26    20    43    50    51    52  ...    76
3    31    32    21     7    17    10    43    51    60    55  ...    70
4    29    26    26    21    34    34    67    77    79    72  ...    70

   5111  5112  5113  5114  5115  5116  5117  5118  5119
0    26    43    23    30    80    93   112   100   131
1    36    33    22    31    56    74    94    83   122
2    39    16    23    40    54    70    90    96   128
3    20    -2    21    53    60    68    93   110   135
4    24     2    15    45    47    57    94   122   144

[5 rows x 57600 columns]

In [4]:
#average
X_average = X.to_numpy() - np.mean(X.to_numpy(),0)
print(X_average.shape)

(64, 57600)

In [5]:
#standardization trail-wise
trial_n = int(X_average.shape[1]/640)
X_temp = X_average.reshape(64,trial_n,640)
print(X_temp.shape)

for i in range(64):
    for j in range(640):
        m = X_temp[i,:,j]
        m = (m - m.mean())/m.std()
        #print(m.mean(),m.std())
        X_temp[i,:,j] = m

X_normal = X_temp
X_normal = X_normal.reshape(64,-1)

print(X_normal.shape)

(64, 90, 640)
(64, 57600)

In [6]:
#type2
empty_list = []
for i in range(int(X_normal.shape[1]/64)):
    temp = X_normal[:,64*i:64*(i+1)]
    temp = np.transpose(temp)
    temp = temp.reshape(1,-1)
    empty_list.append(temp)
    

X = np.vstack(empty_list)
print(X.shape)

(900, 4096)

In [7]:
#make label 
class1_label = np.zeros(int(sum_df1.shape[1]/64))
class2_label = np.zeros(int(sum_df2.shape[1]/64)) + 1
class3_label = np.zeros(int(sum_df3.shape[1]/64)) + 2
class4_label = np.zeros(int(sum_df4.shape[1]/64)) + 3

Y = np.concatenate((class1_label,class2_label,class3_label,class4_label),axis=0)
print(Y.shape)

(900,)

In [8]:
train_set, test_set, train_label, test_label = train_test_split( X, Y, test_size=0.2, random_state=42)

print(train_set.shape, train_label.shape, test_set.shape, test_label.shape)

(720, 4096) (720,) (180, 4096) (180,)

In [9]:
pd.DataFrame(train_set).to_csv("../preprocess_data/final_format/train_set.csv",index = False)
pd.DataFrame(train_label).to_csv("../preprocess_data/final_format/train_label.csv",index = False)
pd.DataFrame(test_set).to_csv("../preprocess_data/final_format/test_set.csv",index = False)
pd.DataFrame(test_label).to_csv("../preprocess_data/final_format/test_label.csv",index = False)